body{
    background-color: rgb(146, 244, 190);
    text-align: center;
    padding-top: 3%;
}

.tic{
    width:15%;
    height: 20%;
    position: absolute;
    left: 35%;
}

.heading{
    position: absolute;
    left: 39.5%;
}

.data{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid;
}
.data:hover{
    border-color: yellow;
}

.start{
    position: absolute;
    top:550px;
    width: 20%;
    left: 37.8%;
}

.pop-up{
    position: absolute;
    top:620px;
    left: 42%;
    color: red;
    font-weight: 500;
    
}

.data-img{
    width: 90px;
    height: 90px;
}

@media only screen and (max-width: 800px){
    .tic{
        left:16%;
    }
    .heading{
        left:28%;
    }
    .start{
        left: 33%;
    }
    .pop-up{
        left: 30%;
    }
}

@media only screen and (max-width: 550px){
    .tic{
        left:10%;
    }
    .heading{
        left:28%;
    }
    .start{
        font-size: 80%;
        left: 36%;
    }
    .pop-up{
        left: 30%;
    }
}